/* Global */
* {
    box-sizing: border-box;
}
/* Utilities */
.text-uppercase {
    text-transform: uppercase;
}
.hcenter {
    margin-left: auto;
    margin-right: auto;
}
.zindex-0 {
    z-index: 0;
}
.zindex-1 {
    z-index: 100;
}
.abs-dock {
    position: relative;
}
.pull-right.abs {
    position: absolute;
    right: 0;
    top: 0;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
/* Helper classes to align elements vertically centered */
.vcenter-container {
    display: table;
}
.vcenter-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* Underline */
.underlined {
    position: relative;
}
.underlined:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 95%;
    background-color: #dddddd;
}

/* Color Theme */
.color-1 {
    color: #ffffff;
    background-color: #1e2538;
}
.color-2 {
    color: #000000;
    background-color: #f3f5f5;
}
.color-3 {
    color: #000000;
    background: #ffffff;
}
.text-gray {
    color: #666666;
}
.color-accent-1 {
    color: #fff;
    background-color: #ff1065;
}
.text-accent-1 {
    color: #ff1065;
}
.color-1 a {
    color: #fff;
}

/* Buttons */
.button {
    display: inline-block;
    font-family: "Roboto Regular";
    height: 39px;
    font-size: 14px;
    border-radius: 0;
    border: 0;
    padding: 9px 23px;
}

a.button {
    padding: 0 26px;
    line-height: 39px;
}

/* Layout */

/* Header */
.header nav .container{
    min-width: 935px;
    width: 90%;
    line-height: 50px;
}

.header .navbar-brand {
    padding: 15px 0;
    margin-right: 40px;
}
.header nav .container img{
    margin: 0 5px;
}
.header nav a {
    font-size: 16px;
}
.header nav .container .button{
    margin: 20px 10px;
}
.avatar {
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #6c6d78;
    width: 60px;
    height: 60px;
}
.avatar-small {
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #6c6d78;
    width: 40px;
    height: 40px;
}

.header .avatar {
    width: 50px;
    height: 50px;
}

/* Landing Page Layout */
.header h1, .header h3 {
    color: #fff;
}
.header.extended {
    height: 671px;
}
.park-image-container {
    position: relative;
    height: 591px;
    background: url('../images/landing_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.park-image {
    height: 591px;
    width: auto;
    z-index: 0;
}
.park-image-overlay {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.park-banner-overlay {
    height: 591px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.store-buttons {
    text-align: center;
    margin: 80px auto;
}

.store-image-container {
    display: inline-block;
    border-radius: 5px;
    width: 182px;
    height: 57px;
    border: 1px solid #fff;
    overflow: hidden;
    margin: 20px 40px;
}

h3.underlined {
    margin:30px 0;
    padding-bottom: 20px;
}

/* Sidenav layout */
.content {
    clear:both;
    overflow: hidden;
    min-height: 700px;
    color: #000000;
    background: #ffffff;
    position: relative;
}
.sidenav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    float: left;
    width: 18%;
    height: 100%;
    border:1px solid #efefef;
}
.sidenav .list-group-item {
    border-left: 0;
    border-right: 0;
}
.sidenav .list-group-item.active a {
    color: #fff;
}

.content-pane {
    float:left;
    margin-left: 18%;
    width: 82%;
    border:1px solid #efefef;
}
.pane-header {
    padding: 5px 40px;
    border-bottom:1px solid #efefef;
}

.filterbox {
    padding:10px;
    min-height: 60px;
}
.filterbox .dropdown .dropdown-toggle {
    position: relative;
    padding:3px 12px;
    font-size: 14px;
    text-align:left;
    border-color: #ddd;
    width: 100%;
}
.filterbox .dropdown .dropdown-toggle .caret {
    position: absolute;
    top:12px;
    right:12px;
}

/* Footer */
body {
    position: relative;
    padding-bottom: 256px;
    margin: 0;
    min-height: 100vh;
}
.footer {
    height: 256px;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} 

.footer .copyright {
    margin-top: 20px;
}

.footer nav a {
    margin: 0 20px;
}

/* Form */
.form-group {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}
.form-group .form-control {
    width: 100%;
}

.form-group.with-label .form-control-label {
    padding-left: 10px;
    color: #444444;
    width: 35%;
}
.form-group.with-label .form-control {
    width: 65%;
}
.floated-label-placeholder {
    height: 0;
}

/* Material Style */
.paper-material {
    display: block;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.paper-material label {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    padding: 10px;
    margin: 0;
}

.paper-material input.no-polymer {
    margin: 10px 0;
    border: 0;
    font-size: 16px;
}
.paper-input-container.underline{
    display: none;
}

/* data table formatting */
.dataTables_wrapper {
    margin: 0 0 10px 0;
}
.dataTables_wrapper .dataTables_length {
    padding: 5px;
}
.dataTables_wrapper .dataTables_filter {
    padding: 5px;
}
.dataTables_wrapper .table.dataTable {
    margin-top: 0 !important;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.dataTable th {
    white-space: nowrap;
}
.dataTable.table>tbody>tr>td{
    vertical-align: middle;
}
.dataTables_filter {
    display: none;
}

/* Custom Pillbox */
.nav-pill-wrapper {
    min-height: 60px; 
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.nav-pill {
    min-height: 60px;
    padding: 15px 20px;
    text-align: center;
    border-right: 1px solid #ddd;
    font-size: 16px;
 }

 .nav-pill.active {
     background-color: #ddd;
 }

 /* Grid enhancement */
 .col-20p {
    width: 20%;
    float: left;
    position: relative;
}